body{
    background-image: url(../assets/bank.jpg);
}

.midtab{
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 20px;
    padding: 30px;
}
.cnt{
    margin-top: 200px;
}
.error{
    color: red;
    display: none;
}